.column {
    float: left;
    width: 20%;
    height: 100%;
    /* margin: 1%; */
}

.header {
    text-align: center;
    text-decoration: underline overline;
}

.red {
    background-color: #ed3413;
    
}

.yellow {
    background-color: #dcff2b;
}

.blue {
    background-color: #74c3e1;
}

.brown {
    background-color: #ffb695;
    
}

.green {
    background-color: #96d1cd;
}

.panel {
    /* height: 100px; */
    background-color: #23ff4471;
    padding: 16px;
}

.inputForm {
  /* width: 200px; */
  background-color: #36318b71;
  padding: 8px;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }