.card {
    margin: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    /* transition: 0.3s; */
    background-color: white;
    padding: 16px;
}

.author {
    color: darkcyan;
    font-weight: bold;
}

.date {
    color: brown;
}

div.card {
    display: table;
}

div.row {
    display: table-row;
}

div.field {
    display: table-cell;
}

div.center-cropped {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

div.center-cropped img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
